$medium_red:#ff525d
$medium_light_red:#ff7a85
$very_dark_blue:#1f3f5b
$white:#ffffff
$grayish_blue:#c8c8cb
$very_dark_grayish_blue: #4b5862
$very_dark_black_blue:#25252d

$very_light_red: #ff8f70
$light_red:#ff3d54

$very_dark_gray_blue:  	#2c2d3f
$very_dark_desaturated_blue:  	#3f4164

$font_size: 16px
$font_family_primary: 'Overpass', sans-serif
$font_family_secondary: 'Ubuntu', sans-serif

$border-radius: 40px

*
  box-sizing: border-box
  margin: 0
  padding: 0

  &::after, &::before
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
  height: 100%

body, button, p, a
  font-size: $font_size
  line-height: 20px
  font-family: $font_family_secondary
  font-weight: 300
  color: #818284

img
  max-width: 100%

a
  text-decoration: none

.dt
  line-height: 1.2
  font-family: $font_family_primary
  margin-bottom: 15px
  color: $very_dark_black_blue  
  font-size: 26px
  font-weight: 600
  padding: 0 80px
  display: block

.dd
  padding: 0 36px
  line-height: 1.74
  display: block

  &:not(:last-of-type)
    margin-bottom: 46px

.dt
  font-family: $font_family_primary
  font-weight: 600
  color: #283b54

  &:nth-of-type(2)
    margin-bottom: 23px
    

.container
  height: 100%
  display: grid
  grid-template-areas: "c-head" "c-content" "c-footer"
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr auto

.submenu-container,
.submenu
  transition: all 1s

.main
  &-header
    background-image: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(150deg,#ff8f70,#ff3d54)
    background-position: 37% 35%
    background-repeat: no-repeat
    border-bottom-left-radius: 89px

    &-content
      padding: 38px 24px 50px
      position: relative
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: .5fr repeat(3, 1fr)
      align-items: center
      margin: 0 auto
      color: $white

    .logo
      grid-column: 1/2
      grid-row: 1/1
    
  &-nav
    display: none
    position: absolute
    top: 14px
    left: 0
    width: 100%

    .submenu
      display: none
      padding: 20px 0

      a
        font-family: $font_family_primary
        font-weight: 600
        color: $very_dark_grayish_blue
        font-size: 16px

        &:hover
          color: $very_dark_black_blue

    .menu
      border: 0
      color: $very_dark_black_blue
      font-family: $font_family_primary
      font-size: 18px
      font-weight: 600

      &::after
        content: url('../images/icon-arrow-dark.svg')
        width: 20px
        margin-left: 10px
        display: inline-block

      &-item
        width: 100%

        &:hover > .submenu-container, &:focus-within  > .submenu-container, .submenu-container:hover
          margin: 24px auto 0
          transition: all 1s

          .submenu
            background: #efeff1
            display: flex
            flex-direction: column
            gap: 20px
            border-radius: 6px
            padding: 24px 0 30px
            width: 96%

  &-menu
    list-style: none

  &-content
    padding: 30px 0

  &-footer
    text-align: center
    padding: 73px 20px 74px
    background-color: #24242c
    border-top-right-radius: 100px
    color: $white
    margin-top: 20px

    .logo
      display: block
      margin-bottom: 77px

    .title
      display: block
      font-weight: 600
      padding-bottom: 19px
      font-size: 18px
      font-family: $font_family_primary

.secondary-nav
  display: flex
  flex-direction: column
  gap: 52px

  .menu
    display: flex
    flex-direction: column
    gap: 11px

    a
      color: darken($white, 25%)
      font-size: 18px
      line-height: 23px
      font-weight: 400

      &:hover
        opacity: .7

.hero
  grid-column: 1/3
  grid-row: 2/5
  text-align: center
  padding: 84px 0

  h1
    margin-bottom: 14px
    font-size: 35px
    line-height: 1.3
    font-family: $font_family_primary

  p
    font-size: 18px
    line-height: 1.2
    color: $white

.toggle-nav
  grid-column: 2/3
  grid-row: 1/1
  justify-self: end

#toggle-nav
  display: none

  &:checked
    + label
      content: url('../images/icon-close.svg')
      + .main-nav
        grid-column: 1/3
        grid-row: 2/4
        z-index: 100
        display: flex
        flex-direction: column
        gap: 20px
        text-align: center
        background-color: $white
        padding: 20px 20px 30px
        border-radius: 6px
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
        animation: slideBottom 1s  ease 0s 1 normal forwards

        .main
          &-menu, &-actions
            display: flex
            flex-direction: column
            gap: 30px
            padding: 13px 0 0
            justify-content: center
            align-items: center
          
          &-actions
            border-top: 1px solid $grayish_blue
            padding-top: 12px
            gap: 5px

.cta
  &-container
    padding: 49px 0 20px
    display: flex
    flex-wrap: wrap
    gap: 15px
    justify-content: center
    align-items: center

  &-start, &-more, &-sign-up, &-login
    border: 1px solid $white
    border-radius: $border-radius
    min-width: 137px
    min-height: 50px
    display: flex
    align-items: center
    justify-content: center
    font-family: $font_family_secondary
    font-weight: 700

  &-start
    background-color: $white
    color: #f55767

    &:hover
      background: #ff7b86
      border-color: #ff7b86
      color: $white
      transition: all 0.5s

  &-sign-up
    max-width: 200px
    background-image: linear-gradient(150deg,#ff8f70,#ff3d54)
    color: $white
    border: $light_red
    font-weight: 700

    &:hover
      background: #ff7b86
      border-color: #ff7b86
      color: $white

  &-more
    color: $white

    &:hover
      background: $white
      color: #ff7b86
      transition: all 0.5s

  &-login
    font-family: $font_family_primary
    color: $very_dark_grayish_blue
    font-size: 19px
    font-weight: 600
    margin-top: 6px

    &:hover
      background: #ff7b86
      border-color: #ff7b86
      color: $white

.section
  &-intro, &-state, &-features
    text-align: center
    padding: 40px 0
    overflow: hidden

    h2
      margin-bottom: 45px
      color: #283b54
      font-size: 26px
      line-height: 30px
      font-weight: 600
      font-family: $font_family_primary

  &-intro
    padding-top: 79px

    .banner
      img
        max-width: 120%
        margin-left: -4%

    .text
      padding-top: 46px

  &-state
    padding: 50px 0 0
    color: darken($white, 25%)
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(5, 1fr)
    gap: 40px

    .banner 
      grid-column: 1/1
      grid-row: 1/4
      z-index: 3

    .text
      background-image: linear-gradient(to bottom, #2c2d3f, #313248, #353751, #3a3c5b, #3f4164)

      grid-column: 1/1
      grid-row: 2/6
      z-index: 2
      padding-top: 185px
      margin-top: 11px
      padding-bottom: 119px
      border-top-right-radius: 95px
      border-bottom-left-radius: 95px
      position: relative
      overflow: hidden

      .background
        left: 50%
        position: absolute
        top: -191px
        transform: translate(-50%)
        width: 150%
        z-index: -1

    .dt
      font-size: 37px
      padding: 43px 15px 4px
      line-height: 47px
      color: $white

  &-features
    .banner
      display: block
      width: 135%
      
      img
        margin-left: -135px
        margin-top: 20px

    .text
      padding-top: 34px

    .dt
      padding: 0 73px
      margin-bottom: 24px

.listening
  opacity: 0

.listening
  &.animated
    animation: toFoward 2s ease 0s 1 normal forwards

@keyframes slideBottom
  0%
    opacity: 0.9
    transform: translateY(-20px)

  100%
    opacity: 1
    transform: translateY(2px)


@keyframes toFoward
  0%
    opacity: .9
    transform: scale(0.6)

  100%
    opacity: 1
    transform: scale(1)

@media screen and ( min-width: 376px)
  .section
    &-intro
      .banner
        img
          margin-left: 0%

    &-state
      .dt
        padding-top: 30%
        
    &-features
      .banner
        width: 100%

        img
          margin-left: 0
    
@media screen and ( min-width: 998px)
  .submenu-container,
  .submenu
    transition: none

  .toggle-nav
    display: none

  .main
    &-header
      border-bottom-left-radius: 101px

      &-content
        display: grid
        grid-template-areas: "c-logo c-menu" "c-hero c-hero"
        grid-template-columns: auto 1fr
        grid-template-rows: auto 1fr
        align-items: center
        gap: 20px
        max-width: 1220px
        padding: 59px 54px 53px

      .logo
        img
          width: 102px

    &-nav
      grid-column: 2/3
      grid-row: 1/1
      display: flex
      align-items: center
      justify-content: space-between
      position: initial
      padding-left: 47px

      .menu
        color: $white
        font-size: 16px

        &::after
          filter: brightness(100)
          transform: translateX(-1px) translateY(-3px)

        &-item
          width: auto

          &:hover
            .menu
              text-decoration: underline

              &::after
                transform: rotate(-180deg) translateX(11px) translateY(3px)

          &:hover > .submenu-container, &:focus-within  > .submenu-container, .submenu-container:hover
            position: absolute
            width: auto
            min-width: 175px
            margin: 0
            transform: translateX(-25px)

            .submenu
              padding: 32px 25px
              transform: translateY(22px)
              gap: 13px
              box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px
              
      .submenu
        a
          font-weight: 300

          &:hover
            font-weight: 600

    &-menu
      display: flex
      gap: 20px
      padding-top: 6px

    &-actions
      display: flex
      gap: 20px

    &-footer
      margin-top: 0
      display: grid
      grid-template-columns: .5fr 2fr
      grid-template-rows: 1fr
      gap: 162px
      text-align: left
      padding: 77px 20px 80px

      .logo
        margin: -5px 0 77px auto

      .title
        font-size: 17px

  .hero
    h1
      font-size: 58px
      line-height: 81px
      padding-top: 20px
      margin-bottom: 10px

    p
      font-size: 19px

  .cta
    &-login
      padding: 0 9px
      background: none
      border: none
      color: $white
      min-width: auto
      min-height: 52px
      margin: 0
      font-size: 16px
      transform: translateY(5px)

      &:hover
        background-color: transparent
        border: 0
        text-decoration: underline

  .section
    &-intro, &-state, &-features

      h2
        font-size: 37px
        line-height: 44px

    &-intro
      padding-top: 52px
      padding-bottom: 0
      display: grid
      margin:  0 auto
      grid-template-rows: repeat(5, 1fr)
      grid-template-columns: 1fr 1fr
      align-items: center
      text-align: left
      position: relative

      h2
        grid-column: 1/3
        grid-row: 1/1
        text-align: center
        z-index: 2
        padding-top: 74px

      .dt
        text-align: left
        padding: 0 36px
        margin-bottom: 22px

      .dd
        &:not(:last-of-type)
          margin-bottom: 83px

      .banner
        grid-column: 2/3
        grid-row: 1/6
        z-index: 1
        display: block
        height: 100%
        width: 100%

        img
          position: absolute
          right: -40%
          top: 37px
          width: 94%
          height: 102%
          object-fit: contain
          max-width: none
          z-index: 3

      .text
        grid-column: 1/2
        grid-row: 1/6
        max-width: 610px
        margin: -34px 0 0 auto
        padding-left: 20px
        padding-top: 105px

    &-state
      padding: 0
      grid-template-columns: 1fr 1fr
      grid-template-rows: repeat(6, 1fr)
      align-items: center

      .dt
        padding-top: 43px

      .banner
        grid-column: 1/2
        grid-row: 1/7
        max-width: 650px
        margin: 37px 0 0 auto
        transform: translateX(-20px)

        img
          max-width: 650px

      .text
        grid-column: 1/3
        grid-row: 2/6
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: repeat(2, 1fr)
        text-align: left
        margin-top: 0
        padding: 0 0 96px

        .background
          grid-column: 1/2
          grid-row: 1/1
          transform: 0
          width: 111%
          top: -343%
          left: 32%

      .dt
        grid-column: 2/3
        grid-row: 2/3
        transform: translateY(-36px)
        max-width: 600px
  
      .dd
        grid-column: 2/3
        grid-row: 3/4
        transform: translateY(-36px)
        padding-left: 13px
        max-width: 600px

    &-features
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr
      text-align: left
      align-items: center
      overflow: visible

      .banner
        width: 100%
        transform: translate(-20%, -7%)

        img
          max-width: none
          width: 135%
          display: block
          margin-left: -135px

      .text
        max-width: 620px
        padding-top: 15px

        .dt
          padding: 0 15px

          &:last-of-type
            margin-top: -15px

        .dd
          padding-left: 15px
          margin-bottom: 95px

  .secondary-nav
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr
    max-width: 900px
    gap: 0

    .menu
      gap: 10px

      a
        &:hover
          opacity: 1
          text-decoration: underline

      &:first-of-type
        transform: translateX(19px)

      &:nth-of-type(2)
        transform: translateX(4px)

      &:last-of-type
        transform: translateX(-10px)

@media screen and ( min-width: 1220px)
  .section
    &-intro
      .banner
        img
          right: -34%
